.dashboard-container {
  display: flex;
  justify-content: space-between;

  [class^='column-'] {
    box-sizing: border-box;
    padding: 0px 16px;
  }

  .column-side {
    width: 25%;
    min-width: 232px;
  }

  .column-middle {
    width: 50%;
  }
}