.activity-index-container {
  .activity-item-container {
    display: grid;
    grid-template-columns: 40px 24px 1fr 64px;
    grid-template-rows: 40px 8px 28px 8px 1fr 16px 43px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
      ' profile-img        .           info            .      '
      '      .             .             .             .      '
      ' sport-icon         .           title           .      '
      '      .             .             .             .      '
      '      .             .       activity-info       .      '
      '      .             .             .             .      '
      'btn-container btn-container btn-container btn-container';
    padding: 16px 24px;
    margin: 12px 0px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);

    .profile-img {
      border-radius: 50%;
      grid-area: profile-img;

      .author-icon, .svg-user {
        border-radius: 50%;
        text-decoration: none;
      }

      .svg-user {
        color: #242428;
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        padding: 8px;
        background: #dfdfe8;
        transition: background-color 0.15s ease, color 0.15s ease;
        will-change: background-color, color;

        &:hover {
          color: #fc4c02;
          background: #f5f5fa;
        }
      }

      .author-icon {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
      }
    }

    .info {
      grid-area: info;

      .author-name {
        color: #242428;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.15s ease;
        will-change: color;

        &:hover {
          color: #005b83;
        }
      }

      .activity-timestamp {
        color: #666;
        font-size: 11px;
        line-height: 16px;
      }
    }

    .sport-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: sport-icon;

      [class^=svg-] {
        max-height: 24px;
      }
    }

    .title {
      color: #242428;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      word-break: break-word;
      text-decoration: none;
      transition: color 0.15s ease;
      will-change: color;
      grid-area: title;

      &:hover {
        color: #005b83;
      }
    }

    .activity-info {
      grid-area: activity-info;

      .description {
        color: #242428;
        text-decoration: none;

        &:hover {
          color: #005b83;
        }
      }

      .stats {
        display: flex;
        margin-top: 16px;

        .stat-item:not(:last-child) {
          padding-right: 16px;
          margin-right: 16px;

          &::after {
            content: '';
            display: block;
            border-right: 1px solid #e6e6eb;
            height: 24px;
            width: 1px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
          }
        }

        .stat-item {
          position: relative;

          .label {
            color: #606065;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
          }

          .value {
            font-size: 20px;
            font-weight: 400;
            line-height: 1;
          }
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
      padding-top: 12px;
      border-top: 1px solid #e6e6eb;
      grid-area: btn-container;

      .btn {
        width: 16px;
        height: 16px;
        padding: 6px 12px;
        background: #e6e6eb;
        border: 1px solid #e6e6eb;
        border-radius: 4px;
        margin-left: 4px;
        cursor: pointer;
        transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
        will-change: background-color, border-color, color;

        &:hover {
          background: white;
        }
      }

      [class^=svg-] {
        width: 16px;
        height: 16px;
      }
    }
  }
}