.demo-login-btn {
  position: relative;
  color: #2d2d32;
  background: white;
  text-align: center;
  border: 1px solid #ccccd1;
  padding: 16px 50px;
  cursor: pointer;
  transition: background-color 0.1s ease, border-color 0.1s ease;
  will-change: background-color, border-color;

  &.demo-one {
    display: block;
    color: white;
    background: #3b5998;
    border-color: #3b5998;

    &:hover {
      color: white;
      background: #2d4373;
      border-color: #2d4373;
    }
  }

  &:hover {
    color: currentColor;
    background: #f5f5fa;
    border-color: #99999e;
    text-decoration: none;
  }
  
  .svg-user {
    position: absolute;
    left: 16px;
    height: 24px;
  }
}
