.app-container {
  max-width: 1248px;
  padding: 0px 16px 24px;
  margin: 32px auto 80px;
}

body {
  color: #2d2d32;
  background: #f5f5fa;
  font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: inherit;
  line-height: 1.45;
  fill: currentColor;
}

a {
  color: #007FB6;
  text-decoration: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    color: #005b83;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.no-select:active {
  outline: none;
}

*::-moz-focus-inner {
  outline: none;
  border: 0;
}

button, input[type="submit"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

input, textarea {
  padding: 10px;
}

abbr {
  text-decoration: none;
}

