.app-container {
  max-width: 1248px;
  padding: 0px 16px 24px;
  margin: 32px auto 80px;
}
body {
  color: #2d2d32;
  background: #f5f5fa;
  font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: inherit;
  line-height: 1.45;
  fill: currentColor;
}
a {
  color: #007fb6;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}
a:hover {
  color: #005b83;
  text-decoration: underline;
}
a:focus {
  outline: none;
}
li {
  list-style: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:active {
  outline: none;
}
*::-moz-focus-inner {
  outline: none;
  border: 0;
}
button,
input[type="submit"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
}
button:focus,
input[type="submit"]:focus {
  outline: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
input,
textarea {
  padding: 10px;
}
abbr {
  text-decoration: none;
}
