.route-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  &.hidden {
    display: none;
  }
}

.route-index-container {
  & h1 {
    font-size: 32px;
  }
  & > a {
    background: #f35500;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 7px 20px;
    margin-bottom: 50px;
    display: inline-block;
    &:hover {
      background: #E24400;
      text-decoration: none;
    }
  }
  & .route-index-controls {
    padding: 20px 0;
    border-top: 1px solid #CCCCD1;
    & button {
      padding: 10px 20px;
      border: 1px solid #CCCCD1;
      border-left: 0;
      font-weight: 700;
      &.selected {
        color: white;
        background: #737373;
      }
    }
    & > :first-child {
      border-left: 1px solid #CCCCD1;
    }
    & > :last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.route-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "map map map"
    "stats stats stats";
  & .route-item-map {
    grid-area: map;
  }
  & > :last-child {
    background: #ddd;
    grid-area: stats;
    position: relative;
    & h3 {
      color: #2F7FB6;
      margin-left: 20px;
    }
    & span {
      display: block;
      margin: 0;
    }
    & p {
      font-size: 24px;
      margin: 0;
      margin-right: 10px;
      & > :last-child {
        font-size: 12px;
        color: #A1A1A5;
      }
    }
    & button {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      top: -150px;
      background: #ddd;
      padding: 5px;
      & svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        color: #555;
      }
    }
    & > :last-child {
      font-size: 12px;
      color: #888;
      background: #d5d5d5;
      padding: 2px 20px;
      margin-right: 0;
    }
    & .stats-inline {
      display: flex;
      padding: 15px 20px;
      & p {
        padding-right: 10px;
      }
    }
  }
}

